 {% extends "layouts/main.html" %}

{% load static %}

{% block body %}
	  
		<!-- End Product Section -->

		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title">Why Choose Us</h2>
						<p>We offer exceptional furniture crafted from the finest materials, designed to enhance both the style and comfort of your space. Our commitment to quality, innovation, and customer satisfaction ensures that every piece not only meets but exceeds your expectations.</p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/truck.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>Fast &amp; Free Shipping</h3>
									<p>ensuring your furniture arrives quickly and without extra cost, so you can transform your space with ease.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/bag.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>Easy to Shop</h3>
									<p>Shopping made easy with a seamless online experience, offering a wide selection and quick checkout.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/support.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>24/7 Support</h3>
									<p>Support with our dedicated team, always ready to assist you whenever you need.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/return.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>Hassle Free Returns</h3>
									<p>free returns with our simple process, ensuring a smooth and stress-free experience.</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							{% comment %} <img src="{% static 'C:\Users\jayas\OneDrive\Desktop\Furniture Ecommerce\Ecommerce\static\images\sofa2.jpeg' %}" alt="Image" class="img-fluid"> {% endcomment %}
							<img src="{% static 'images/sofa2.jpeg' %}" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->
















		

		<!-- Start We Help Section -->
		<div class="we-help-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7 mb-5 mb-lg-0">
						<div class="imgs-grid">
							 <div class="grid grid-1"><img src="{% static 'images/fourseatsofa.jpeg' %}" alt="Sofa"></div>
							<div class="grid grid-2"><img src="{% static 'images/Brilliant_Tips_for_Stone_Types_Newbies.jpg' %}" alt="Stone Tips"></div>
							<div class="grid grid-3"><img src="{% static 'images/1d894b841805661ae013069637f5ef1b.jpg' %}" alt="Furniture Image"></div> 
							
						</div>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<h2 class="section-title mb-4">We Help You Make Modern Interior Design</h2>
						<p>We help you transform your space with modern interior design solutions that combine aesthetic appeal and functionality. Our team collaborates with you to understand your vision, crafting stylish, comfortable, and personalized environments. From conceptualization to completion, we ensure that every detail reflects your taste while enhancing the usability of your space.</p>

						<ul class="list-unstyled custom-list my-4">
							<li>Transform your space with stylish, functional, and personalized design solutions</li>
							<li>Collaborate with experts to create spaces that reflect your vision.</li>
							<li>Experience seamless design that blends aesthetics with practical functionality.</li>
							<li>Enjoy designs tailored to enhance both beauty and comfort of spaces.</li>
						</ul>
						<p><a herf="#" class="btn">Explore</a></p>
					</div>
				</div>
			</div>
		</div>
		<!-- End We Help Section -->

















{% comment %} 
		<!-- Start Popular Product -->
		<div class="popular-product">
			<div class="container">
				<div class="row">

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="{% static 'C:\Users\jayas\OneDrive\Desktop\Furniture Ecommerce\Ecommerce\static\images\arm chairs\wood-antique-arm-chairs.jpg' %}" alt="Image" class="img-fluid">
								<img src="{% static 'images/sofa chairs/Screenshot_2025-01-02_200523.png' %}" alt="Sofa Chair" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>Sofa Chair</h3>
								<p>Comfort, style, sleek design. Modern living redefined. </p>
								<p><a href="#">Read More</a></p>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail"> {% endcomment %}
								{% comment %} <img src="{% static 'images/floading chair/Screenshot_2025-01-02_193350.png' %' %}" alt="Image" class="img-fluid">  {% endcomment %}
								{% comment %} <img src="{% static 'C:\Users\jayas\OneDrive\Desktop\Furniture Ecommerce\Ecommerce\static\images\floading chair\Screenshot 2025-01-02 193350.png' %}" alt="Image" class="img-fluid"> {% endcomment %}
					
								{% comment %} <img src="{% static 'images/chair_images2.jpg' %}" alt="Chair Image" class="img-fluid">
								
								

							</div>
							<div class="pt-3">
								<h3>Tables</h3>
								<p>Portable, lightweight, space-saving. Ideal for versatile seating. </p>
								<p><a href="#">Read More</a></p>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="{% static 'C:\Users\jayas\OneDrive\Desktop\Furniture Ecommerce\Ecommerce\static\images\office chairs\kcream-leather-office-chair-1-1024x1024.jpg' %}" alt="Image" class="img-fluid">
								<img src="{% static 'images/office chairs/kcream-leather-office-chair-1-1024x1024.jpg' %}" alt="Office Chair" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>Office Chair</h3> {% endcomment %}
								{% comment %} <p>Ergonomic, durable, sleek design. Perfect for productive work. </p>
								<p><a href="#">Read More</a></p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div> {% endcomment %}
		<!-- End Popular Product -->

		<!-- Start Testimonial Slider -->
		<div class="testimonial-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 mx-auto text-center">
						<h2 class="section-title">Testimonials</h2>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="testimonial-slider-wrap text-center">

							<div id="testimonial-nav">
								<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
								<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
							</div>

							<div class="testimonial-slider">
								
								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>&ldquo;"The level of craftsmanship and attention to detail is unmatched. The furniture transformed our space beautifully and added a modern touch we absolutely love."&rdquo;</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img src="{% static 'images/person-1.png' %}" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Maria Jones</h3>
													<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>&ldquo;"Exceptional quality and design! The team truly understood our needs and delivered furniture that is both stylish and functional. Highly recommend!"&rdquo;</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img src="{% static 'images/person-1.png' %}" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Maria Jones</h3>
													<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>&ldquo;"From start to finish, the process was seamless. The designs are stunning, and the comfort is incredible. We're thrilled with the results!"&rdquo;</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img src="{% static 'images/person-1.png' %}" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Maria Jones</h3>
													<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Testimonial Slider -->









{% endblock body %}
































